.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 1rem;
    width: 1600px;
}

.login_card{
    width: 80%;
    max-width: 400px;
    box-shadow: 0px 0.344px 12px rgb(238, 238, 238);
    padding: 2rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.login_card h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.login_card img {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}